
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section__pic-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }
  
  @media (max-width: 820px) {
    .max-width {
      max-width: 100%;
      padding: 0 20px;
      margin: auto;
    }
  
    body {
      font-size: 16px;
      overflow-x: hidden; /* Prevent horizontal scrolling */
    }
  
    /* Add any other necessary styles for screens <= 820px */
  }
  
  /* Media query for landscape orientation */
  @media screen and (max-width: 820px) and (orientation: landscape) {
    .section__pic-containerss{
      display: none; /* Hide the image container in landscape mode */
    }
  }